@model IEnumerable<ToDoEvents.DbModels.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
             @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
              @Html.DisplayNameFor(model => model.DateTime)
          
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStatus.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
                @Html.DisplayFor(modelItem => item.Description)
            <div class="image">
                <img src="https://webpack.js.org/assets/icon-square-small-slack.png" class="avatar" />
                <div class="overlay"><img src="https://webpack.js.org/assets/icon-square-small-slack.png" style="width:40px" /> @item.Description<br />@item.DateTime<br />@item.EventStatus.Status
                </div>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStatus.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
<style>
   .image {
    position:relative;
    display:inline-block;
    
}
.overlay {
    display:none;
}
    .image:hover .overlay {
        overflow-y:scroll;
        width: 900%;
        height: 450%;
        border-radius:15px;
        box-shadow: 10px 10px 5px #888888;
        color:white;
        font-family: "Lucida Sans Typewriter";
        background: #0074D9;
        position: absolute;
        top: -80px;
        left: 15px;
        font-size: 12px;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /* All other styling - see example */
    }
    .avatar {
        vertical-align:top; /* Default is baseline, this fixes a common alignment issue */
  width:20px;
    }

</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
    $(function () {
       $('.datepicker').datepicker();
    });
    </script>
}